button.takki,
a.takki,
.takki
	padding: 0.6em 1.4em
	&.smaller
		padding: 0.4em 0.8em
		font-size: 0.8em
	&.larger
		padding: 1em 1.8em
		font-size: 1.2em
	text-transform: uppercase
	background: $red
	font-weight 700
	font-family $segoa !important
	color: white
	font-size: 1em
	i
		margin-right: 0.5em
	text-decoration: none !important
	border-radius: 3px
	border: none !important
	box-shadow: none !important
	display: inline-block
	transition: all 0.3s
	&:hover,
	&:active,
	&:focus
		color: white
		background: $red-dark2
		transition: all 0.3s

	margin-bottom 0.5em
	word-wrap break-word !important

	+xsmall()
		&.takki ~ .takki
			margin-top 0.5em
		line-height 1.5em
		display block
		word-wrap break-word !important
button.takki
	font-weight 700
	word-wrap break-word !important
	font-family $segoa !important
	+xsmall()
		width: 100%