xsmall()
  @media (max-width: 420px)
    {block}

small()
  @media (max-width: 600px)
    {block}

medium()
  @media (max-width: 768px)
    {block}

large()
  @media (max-width: 992px)
    {block}

xlarge()
  @media (max-width: 1382px)
    {block}