.Product
	lost-utility clearfix
	background white
	overflow hidden
	&__content
		h1
			padding-top 0
			margin-top 0
			padding-bottom 0
			margin-bottom 0
			font-size 3em
		padding gutter
	&__left
		lost-column 1/2 2 0px
		+medium()
			lost-column 1/1 1 0px
	&__extra-image
		padding-top 5px
		padding-right 5px
		&:last-child
			padding-right 0px !important
	&__extra-images
		padding 0
	&__right
		overflow hidden
		lost-column 1/2 5 0px
		+medium()
			lost-column 1/1 1 0px
	&__details
		lost-column 1/1 1 0px
	&__images
		/*border-right 3px solid $red
		border-bottom 3px solid $red*/
		/*+medium()
			/*border-right 0px solid $red*/
		box-shadow 1px 1px 2px #DDD
		background: #EEE
		a
			line-height 1
			display block
			vertical-align top
		line-height 1
		img
			vertical-align top
			width 100%
	section
		border-top 1px solid $blue-lite3
		padding gutter
		position relative
		lost-utility clearfix
	&__mini-image
		/*float left
		margin-right gutter
		margin-bottom gutter
		max-width 120px
		max-height: 120px
		line-height 1
		display inline-block
		img
			clear both
			display block
			width 100%
			line-height 1
			vertical-align top
		div
			display block
			font-size 0.8em
			margin-bottom 0.4em*/
		lost-column 1/10 10
		line-height 1.2em
		padding-bottom 1.2em
		word-wrap break-word !important
		img
			width 100%
		+large()
			lost-column 1/8 8
		+medium()
			lost-column 1/6 6
		+small()
			lost-column 1/4 4
		+xsmall()
			lost-column 1/2 2