.Tabs
	//outline 1px solid red
	&__buttons
		display block
		clear both
		& > ul
			list-style none
			padding 0
			margin 0
			li
				cursor pointer
				float left
				+small()
					float none
					display block
					margin 0px !important
					border-right 1px solid $blue-lite3
					&:last-child
						border-radius 0px !important
					&:first-child
						border-top-left-radius 8px
						border-top-right-radius 8px
				border-top 1px solid $blue-lite3
				border-left 1px solid $blue-lite3
				background white
				border-color $blue-lite3
				transition background 0.3s
				&:hover
					transition background 0.3s
					background $blue-lite3
				&.active
					background $red
					h3
						color white !important
						transition color 0.3s
					border-color $red
					transition border-color 0.3s, background 0.3s
				h3
					padding 0
					margin 0
					transition color 0.3s
					font-size: 1.2em
					line-height 1
				padding gutter
				&:first-child
					border-top-left-radius 4px
					margin-left gutter
				&:last-child
					border-top-right-radius 4px
					border-right 1px solid $blue-lite3
	&__contents
		border-radius 4px
		+small()
			border-top-left-radius 0px !important
			border-top-right-radius 0px !important
		border 1px solid $blue-lite3
		padding gutter
		display block
		clear both
		& > ul
			list-style none
			padding 0
			margin 0
			li
				display none
				lost-utility clearfix
				clear both
				&:first-child
					display block